body {
  background-color: #010314;
}

#labelInsert {
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

#loginNameInsert, #loginPasswordInsert, #loginButton {
  margin-top: 8px;
}

#myCode {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
}